footer {
    background-color: var(--color-474747);
    color: white
}
.hr-div {
    background-color: var(--color-474747);
}
hr {
    color: var(--color-242424);
    margin: 0 2% 0 2%;
    opacity: 30%;
}
.svg-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-fcf28c);
}
.svg-icon:hover {
    fill: var(--color-ffe920);
}


/* .social-network-icon {
    height: 30px;
    width: 30px;
} */
/* Footer-bottom */
/* .footer-bottom {
    border-top: 1px solid var(--color-151515);
} */


/* Footer */


/* Footer */
/* Footer */

/* Footer */
/* Footer */