.header-top-strip {
    background-color: var(--color-151515);
    border-bottom: 1x solid var(--color-303030);
}

.header-upper {
    background-color: var(--color-242424);
}

.header-upper .input-group-text {
    background-color: var(--color-fcf28c);
    border-radius: 10px;
    border:none;
}

.header-upper-svg {
    width: 50px;
    height: 50px;
    color: var(--color-fcf28c);
}

.bodge {
    border-radius: 13px;
    width: 26px;
    height: 26px;
    background-color: white;
    color: black
}
.bodge:hover{
    background-color: var(--color-ffe920);
}

.form-control{
    border-radius: 10px;
    border:none;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid var(--color-ffe920);;
  }
.header-upper .input-group-text:hover{
    background-color: var(--color-ffe920);
    border: 1px solid var(--color-ffe920);
  }

/* HEADER BUTTON */
.header-bottom{
    background-color: var(--color-474747);
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.header-bottom .dropdown button{
    background-color: var(--color-303030);
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.2px;
    border: 1px solid var(--color-303030);
    text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
    box-shadow: none;
    border: 1px solid var(--color-ffe920);
} 

.dropdown-menu{
    color: white;
    background-color: var(--color-303030);
    font-size: 16px;
    width: 100%;
    transform: translate(0px, 70px) !important;
}
.dropdown-item{
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-item:hover{
    background-color: var(--color-474747);
    color: var(--color-ffe920) !important;
}

.header-bottom-svg {
    width: 30px;
    height: 30px;
    color: var(--color-fcf28c);
}
.header-bottom-svg:hover {
    width: 30px;
    height: 30px;
    color: var(--color-ffe920);
}
/* .header-bottom .dropdown button
.header-bottom .menu-links{
    background-color: var(--color-242424);
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
 */
