*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-151515: #151515;
  --color-242424: #242424;
  --color-303030: #303030;
  --color-474747: #474747;
  --color-fcf28c: #fcf28c;
  --color-ffe920: #ffe920;
}
body{
  font-family: 'Comfortaa', cursive;
}

a{
  text-decoration: none;
  display: inline-block;
}

.main-color{
  color: var(--color-fcf28c);
}

.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px
}
.gap-20{
  gap: 20px
}
.gap-25{
  gap: 25px
}
.gap-30{
  gap: 30px
}


.hover-text-white:hover{
  color: var(--color-ffe920) !important;
}

.hover-svg-white:hover{
  fill: var(--color-ffe920);
}
